body{
    background: url('../img/bg/5.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #001514;
}

a:hover{text-decoration: none;}

.background-image {
    position: absolute;
    left: 0;
    top: 0;
    background: url('../img/bg/5.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
} 

.navbar{
    font-size: 1.2rem;

}
.white{
    color:white;
}
.grey{
    color:grey;
}
/*ul{
    list-style-type: none;
    display: inline-block;
    width:100%;
    text-align: center;
}

ul li{
    /*float: right;
    display: inline-block;
    padding: 20px;
}

ul li a{
    font-size: 1.5rem;
    color: black;
}

ul li a:hover{
    text-decoration: none;
}*/

.center{
    text-align: center;
}

.clear{
    clear:both;
}

.regForm div form, .logForm div form{
    background-color: #EEEDE8;
    padding: 5%;
    border: 1px solid black;
    border-radius: 20px;
}

.marginCenter{
    margin-left: auto;
    margin-right:auto;
}

.logo{
    padding: 5%;
}

.searchBar{
    margin-top: 5%;
}

.profileBox{
    background-color: #EEEDE8;
    padding: 5%;
    border: 1px solid black;
    border-radius: 20px;
}

.error{color:red;}

.truncate{
    /*width: 250px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment{
    border:1px solid black;
    border-radius:5px;
    background-color: white;
}

@font-face {
    font-family: 'entypo';
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-90/entypo.woff") format("woff");
}
.entypo-heart:before {
    content: "\2665";
}

[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
    color: red;
}