body{
    background: url('../img/bg/5.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #001514;
}

ul{
    list-style-type: none;
}

ul li{
    float: right;
    padding: 20px;
}

ul li a{
    font-size: 1.5rem;
    color: black;
}

ul li a:hover{
    text-decoration: none;
}

.center{
    text-align: center;
}

.clear{
    clear:both;
}

.regForm div form, .logForm div form{
    background-color: #EEEDE8;
    padding: 5%;
    border: 1px solid black;
    border-radius: 20px;
}

.marginCenter{
    margin-left: auto;
    margin-right:auto;
}

.logo{
    padding: 5%;
}

.searchBar{
    margin-top: 5%;
}

.profileBox{
    background-color: #EEEDE8;
    padding: 5%;
    border: 1px solid black;
    border-radius: 20px;
}

.error{color:red;}